
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #323335;
  overflow-x: hidden;
}
main{
  width: 100%;
  padding-top: 200px;
  display: flex;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}


.navbar {
  width: 100%;  
  border-bottom: 1px solid rgb(0, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  position: fixed;  
  top: 0;
  left: 0;
  z-index: 1000;
  text-decoration: none;
}

.nav-links {
  margin-left: -100px;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a{
  text-decoration: none;
  color: rgb(0, 255, 0);
  transition: transform 0.3s ease-in-out;
}
.nav-links a:hover {
  color: hsl(308, 100%, 50%);
  transform: scale(1.2); 
}

.titulo{
  text-align: center;
  color: aliceblue;
}

.categoria-titulo {
  color: aliceblue;
  min-height: 40px; /* ajustá según tu diseño */
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.detail {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
}


.detalle-div{
  color: aliceblue;
  text-align: center;
  width: 650px;
}
.parrafo{
  color: aliceblue;
  text-align: justify;
}


.cart-widget {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.item-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e4e8ec;
  padding: 1rem;
  width: 250px;
  height: auto;
  border: solid 1px chocolate;
  border-radius: 5px;
  box-shadow: 0 0 15px 3px limegreen;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-products:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 5px limegreen;
}



.item-list{
  text-decoration: none;
  list-style: none;
}

.item-list-container ul{
  margin-left: 20px;
  padding: 20px; 
}

.item-list-container li {
  font-size: 1.2rem;
}

.logo {
  width: 150px;
  height: 150px; 
  border: solid 2px greenyellow;
  border-radius: 80px; 

}
.hero-background {
  margin-top: -12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-background img {
  width: 100%;
  height: auto;
  display: block;
  mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 50%, transparent 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 50%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
}


.hero-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sombra sutil para mejorar legibilidad */
  color: #00ff00;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px #000;
}

.hero-subtitle {
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #000;
}

